<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Hikari" class="school21.spring.service.repositories.UsersRepositoryJdbcImpl.SetDataSource"/>

    <bean id="usersRepositoryJdbc" class="school21.spring.service.repositories.UsersRepositoryJdbcImpl">
        <constructor-arg name="ds" ref="Hikari"/>
    </bean>
    <bean id="Driver" class="school21.spring.service.repositories.UsersRepositoryJdbcTemplateImpl.JDBCtemplate"/>

    <bean id="usersRepositoryJdbcTemplate" class="school21.spring.service.repositories.UsersRepositoryJdbcTemplateImpl">
        <constructor-arg name="jdbCtemplate" ref="Driver"/>
    </bean>

</beans>